# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo & Web Builds
.expo/
dist/
web-build/
expo-env.d.ts
.vercel/

# Native & EAS
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
/ios
/android

# Environment Files (Crucial for Security)
.env
.env.local
.env*.local
.env.development
.env.production
.env.test

# Debug & Logs
*.log
npm-debug.*
yarn-debug.*
yarn-error.*
.metro-health-check*

# IDE & Editor files
.vscode/
.idea/
.claude/
*.swp
*.swo

# OS Specific
.DS_Store
Thumbs.db
Desktop.ini
*.pem

# TypeScript
*.tsbuildinfo

